.title{
  text-align: center;
}
.form{
  text-align: center;
}
.contentCard{
  margin:30px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.img-cardLi{
  margin-right: 20px;
}
