<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Ejercicio de evaluación final ﴾bis﴿</title>
    <link rel="icon" href="carol.png"/>
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <h1 class="title">El juego de las parejas</h1>
    <form action="" method="" class="form">
      <label for="option1">
        <input id="option1" type="radio" value="4" name="options">4
      </label>
      <label for="option2">
        <input id="option2" type="radio" value="6" name="options"> 6
      </label>
      <label for="option3">
        <input id="option3" type="radio" value="8" name="options">8
      </label>
      <div class="card">

      </div>
    </form>
    <script type="text/javascript" src="assets/js/main.js"></script>
  </body>
</html>
